<div class="col-md-10 col-sm-10 col-xs-10" style="height:80vh;">

    <body>
        <div class="mainContainer">
            <div class="hidden-lg" style="color:white;">
                <div ng-repeat="x in csnews | limitTo:8">
                    <a target="_blank" href="{{x.link}}">
                        <div class="col-lg-3 col-sm-6 col-xs-6" style="margin-bottom:20px;">
                            <div class="articleContainer">
                                <div class="articleImage" alt="Article Image" style="height:200px;background-image: url('{{x.image}}');">
                                    <div class="articleTitle">
                                        <p class="articleTitleContent">{{ x.title }}</p>
                                    </div>
                                    <div class="articleDate">
                                        <p class="articleDateContent">{{ x.articledate | date: short }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="visible-lg" style="color:white;">
                <div ng-repeat="x in csnews | limitTo:16">
                    <a target="_blank" href="{{x.link}}">
                        <div class="col-lg-3 col-sm-6 col-xs-6" style="margin:20px;">
                            <div class="articleContainer">
                                <div class="articleImage" alt="Article Image" style="height:250px;background-image: url('{{x.image}}');">
                                    <div class="articleTitle">
                                        <p class="articleTitleContent">{{ x.title }}</p>
                                    </div>
                                    <div class="articleDate">
                                        <p class="articleDateContent">{{ x.articledate | date: short }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</div>
<style type="text/css">
body {
    background: url('././assets/images/csbackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
