<div class="col-md-10 col-sm-10 col-xs-10" style="margin-top: 20px;">

    <body>
        <div style="color:white;" ng-controller="dotaController">
            <div ng-repeat="x in dotadata">
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div style="margin:2px;background-color:grey; border:white 1px solid;">
                        <h1>{{ x.title }}</h1>
                        <p>{{ x.headline }}</p>
                        <p>{{ x.date }}</p>
                        <!-- <img ng-src="{{ x.image }}" width="100%" alt="Article Image" style="border:white 1px solid; background-color:black;" /> -->
                        <div alt="Article Image" style="background-image: url('{{x.image}}');border:white 1px solid; background-color:black;background-size: cover;background-repeat: no-repeat;background-position: center;height:200px;width:100%;"></div>
                        <p>{{ x.author }}</p>
                    </div>
                </div>
            </div>
            <!--             <table>
                <tr ng-repeat="x in countries | limitTo:10">
                    <td>{{ x.name }}</td>
                    <td>{{ x.capital }}</td>
                    <td>{{ x.region }}</td>
                    <td>{{ x.population | currency }}</td>
                </tr>
            </table> -->
        </div>
    </body>
</div>
<style type="text/css">
body {
    background: url('././assets/images/dota.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {}

a:active {
    text-decoration: none;
}
</style>
