<div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;">
    <div id="sideNav" align="center">
        <a href="#dotanews">
            <div id="dotaLink" class="iconimage" onclick="changeGame('dota')"><img class="gameImage" src="././assets/images/dotaicon.png" height="80px" width="80px" /></div>
            <div id="sideNavText">DOTA 2</div>
        </a>
        <a href="#wownews">
            <div id="wowLink" class="iconimage" onclick="changeGame('wow')"><img class="gameImage" src="././assets/images/overwatchicon.png" height="80px" width="80px" /></div>
            <div id="sideNavText">Overwatch</div>
        </a>
        <a href="#csnews">
            <div id="csLink" class="iconimage" onclick="changeGame('cs')"><img class="gameImage" src="././assets/images/csicon.png" height="80px" width="80px" /></div>
            <div id="sideNavText">Counter Strike</div>
        </a>
        <a href="#starcraftnews">
            <div id="starcraftLink" class="iconimage" onclick="changeGame('starcraft')"><img class="gameImage" src="././assets/images/starcrafticon.png" height="80px" width="80px" /></div>
            <div id="sideNavText">Starcraft</div>
        </a>
    </div>
</div>