.nodrag {
    -webkit-app-region: no-drag;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {}

a:active {
    text-decoration: none;
}


/*SideNav*/

.iconimage img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.iconimage:hover img {
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -moz-transform: scale(1.2);
    /* Firefox */
    -ms-transform: scale(1.2);
    /* IE 9 */
    -o-transform: scale(1.2);
    /* Opera */
    transform: scale(1.2);
}

.active {
    background-color: rgba(0, 80, 120, 0.5)
}

.inactive {
    background-color: rgba(0, 80, 120, 0)
}


/*TopNav*/

#top-nav {
    -webkit-app-region: drag;
    position: relative;
    background-color: rgba(60, 60, 60, 0.7);
    height: 80px;
    width: 100%;
    box-shadow: 2px 2px 1px rgb(128, 128, 128);
}

.toplink {
    font-size: 25px;
    color: white;
    display: inline;
    margin-left: 20px;
    margin-top: 30px;
}

.toplink:hover {
    font-size: 25.5px;
    color: rgba(220, 220, 220, 0.6);
    cursor: pointer;
}

.icon {
    font-size: 20px;
    color: white;
    opacity: 0.5;
    margin-top: 5px;
    margin-right: 5px;
}

.icon:hover {
    cursor: pointer;
    color: darkgrey;
}

#menuIcons {
    position: absolute;
    right: 0px;
    top: 0px;
}


/*Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}


/* this targets the default scrollbar (compulsory) */


/*::-webkit-scrollbar-track {
background-color: rgba(50, 50, 200, 0.7);
}*/


/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(160, 160, 160, 0.7);
    border-bottom-left-radius: 28.5px;
    border-bottom-right-radius: 28.5px;
    border-top-left-radius: 28.5px;
    border-top-right-radius: 28.5px;
}


/* this will style the thumb, ignoring the track */


/*::-webkit-scrollbar-button:vertical:decrement {
background-color: rgba(0, 0, 200, 0.7);
border-top-left-radius: 18.5px;
border-top-right-radius: 18.5px;
}*/


/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */


/*::-webkit-scrollbar-button:vertical:increment {
background-color: rgba(0, 0, 200, 0.7);
border-bottom-left-radius: 18.5px;
border-bottom-right-radius: 18.5px;
}
*/


/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}


/*Competitions*/

#comp-button {
    color: white;
    border: 1px white solid;
    width: 120px;
    height: 60px;
    margin: 25px 5px 10px 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#comp-button:hover {
    background-color: white;
    color: black;
}

#topNavLinks {
    display: inline-block;
}

.hidenav {
    visibility: hidden;
}

#homeLink {
    display: inline-block;
    margin-left: 37px;
    margin-top: 10px;
}

#sideNavText {
    margin-top: -15px;
    color: white;
    text-decoration: none;
}

.gameImage {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sideNav {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 88vh;
    width: 140px;
    box-shadow: 2px 2px 1px rgb(128, 128, 128);
}

.articleImage {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.articleTitle {
    position: absolute;
    bottom: 0px;
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 90%;
}

.articleDate {
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
}

.articleContainer {
    box-shadow: 3px 3px 2px #000000;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.articleContainer:hover {
    box-shadow: 6px 6px 4px #000000;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.mainContainer {
    margin-top: 50px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.articleDateContent {
    color: white;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.articleTitleContent {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.contentUnavailable {
    color: white;
    background-color: rgba(60, 60, 60, 0.5);
    width: 50%;
    height: auto;
    margin: 10px;
    border: white solid 1px;
}
