.nodrag {
    -webkit-app-region: no-drag;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {}

a:active {
    text-decoration: none;
}

/*SideNav*/

.iconimage img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.iconimage:hover img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}
.active {
    background-color: rgba(0, 80, 120, 0.5)
}
.inactive {
    background-color: rgba(0, 80, 120, 0)
}

/*TopNav*/
.toplink {
    font-size: 25px;
    color:white;display:inline;margin-left:20px;
}

.toplink:hover {
    font-size: 30px;
    cursor: pointer;
}

.icon {
    font-size: 20px;
    color: white;
    opacity: 0.5;
    margin-top: 5px;
    margin-right: 5px;
}

.icon:hover {
    cursor: pointer;
    color: darkgrey;
}

.menuIcons {
    position: absolute;
    right: 0px;
    top: 0px;
}